@page "{restaurantId:int}"
@model psaspnetcore.Pages.Restaurants.DetailModel
@{ 
    ViewData["Title"] = "Detail";
}

<h2>
    <span>@Model.Restaurant.Name</span>
    <a class="btn btn-lg"
       asp-page="./Edit" asp-route-restaurantId="@Model.Restaurant.Id">
        <i class="fas fa-edit"></i>
    </a>
</h2>
<div>
    Id: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location

</div>
<div>
    Location: @Model.Restaurant.Cuisine
</div>

@if(Model.Message  != null)
            {
<div class="alert alert-info">@Model.Message</div>
            }

<a asp-page="./List" class="btn btn-primary">All Restaurants </a>
